<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kenblog.ken.mapper.ArticleTagMapper">

    <resultMap id="BaseResultMap" type="com.kenblog.ken.domain.entity.ArticleTag">
            <id property="articleId" column="article_id" jdbcType="BIGINT"/>
            <id property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        article_id,tag_id
    </sql>
    <delete id="deleteByArticleId">
        DELETE FROM sg_article_tag
        WHERE article_id = #{id}
    </delete>

    <select id="getTagsByArticleId" resultType="Long">
        SELECT tag_id
        FROM sg_article_tag
        WHERE article_id = #{articleId}
    </select>
</mapper>
